/**
 * exact tiers application CSS 
 */ 
 
/* ---------- GLOBAL STYLES ---------- */
{
/* 	margin: 0; */
	margin: auto;
	padding: 0;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
}



body {
	position: static;
	text-align: left;
/* 	width: 1100px; */
	width: 730px;
	background-color: #FFFFFF;
	background-image: url('../img/bg2.jpg');
}

.body {
	box-shadow: 6px 6px 6px 0 #0D4E93;
}

body,p {
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#title {
	font-size: xx-large;
	margin-left: 295px;
	text-shadow: 2px 2px 5px #777777 !important;
	color: #fff;
}

p {
	padding: 2px 8px;
}

a {
	cursor: pointer;
}


img {
	border: 0;
}

img.detailIcon{
	width: 16px;
	height: 16px;	
}

img.detailIcon32{
	width: 32px;
	height: 32px;	
}

div {
	font-size: 12px;
}

ul,ol {
	margin: 3px 0 3px 30px;
}

input,textarea,select {
	border: 1px solid #A9A9A9;
	font-size: 10px; /*1em;*/
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #EDECE9;
}

select.large {
    width: 180px !important;
}	

input[type=submit],input[type=button] { 
	height: 20px;
	cursor: pointer;
}

.inputFile {
	background: url('../img/upload.gif') no-repeat 0px 0px transparent;
	display: block;
	float: right;
	height: 25px !important;
	margin-left: 5px;
	overflow: hidden;
	text-indent: 2000px;
	width: 25px;
	margin-top: 5px;
	cursor: pointer;
	border: none;
}

.pictureSubmit {
	margin-top: 10px;
}

.formUpload {
	width: 50px !important;
}

.pictureDiv {
	float: right;
	margin-top: -200px;
}

input[type=checkbox] {
	vertical-align: middle;
	margin-right: 5px;
	cursor: pointer;
}

.icon {
	width: 16px;
	height: 16px;
}

.icon2 {
    width: auto;
    height: auto;
    margin-top: -3px;
}

.hide {
	display: none;
}



#button a{
    text-decoration:none;
    text-transform:none;
    outline: 0px;
    cursor:pointer;
}

#button a *{
    cursor:pointer;
}

#button label{
    white-space:nowrap;    
} 

.button {
    background-color: #FCFEFE;
    background-image: url('../img/btn-bg.gif');
    background-position: center bottom;
    background-repeat: repeat-x;
    border: 1px solid #787F93 !important;
    color: #586072 !important;
    cursor: pointer !important;
    font-family: Arial,Helvetica,Sans-Serif;
    font-size: 9pt;
    font-weight: bold !important;
    padding: 0;
    box-shadow: 3px 3px 3px 0 #0D4E93;
}

/* ---------- HEADER ---------- */
#header{
    height: 136px; 
/*     background-image: url('../img/header/header_exchange2.png'); */
    background-image: url('../img/header/header_sii.gif');
    background-repeat: repeat-x;
    /*background-position: center;*/
    /*background-color: #B5E122;*/
    box-shadow: 6px 6px 6px 0 #0D4E93;
    margin-bottom: -26px;
    cursor: pointer;
}

#header #logo {
	/*float: right;*/
	padding-top:15px !important;
    height:40px !important;
    /*width:271px;*/	
}

#header #logged #logo img {
	/*float: left;*/
}

#logo img {
    padding-right:5px;
    height: 38px !important;
    width: 100px !important;
    /*float: right;*/
}

#header h1 {
	float: left;
    font-size:32px;
    font-weight:bolder;
    padding-left:40px;
    padding-top:25px;
}

#header h2 {
    float:left;
    margin-left:0px;
    margin-top:35px;
    color: #2A51AB;
    /*width: 350px;*/
    font-size:18px;
}

#header h1 img{
    border-style:none;
    border-width:2px;
    border-color: #E31818;
    height:60px;
}

#header .logout {
	text-align: right;
	padding: 5px;
	/*color: #FFFFFF;*/
	font-size:7pt;
	color: #696950;
    text-decoration: none;
    text-transform: none;
}


#header #logged {
	/*float: right;
	margin-top:10px;*/
	text-align: right;
}

#header #logged img {
	width: 16px;
	height: 16px;
	/*float: left;*/
	margin-right: 5px;
    margin-top: 1px;
}

.user {
    font-size:8pt;
/*     color:#FFFFFF; */
    color:#0D4E93;
    font-family:verdana,arial,sans-serif; 
    font-weight:bold;
    text-shadow: 2px 2px 2px #000000;
    float: right;
    margin-top: 10px;
}

#logged a {
    background: url('../img/logout.gif') repeat scroll 0px 0px transparent;
    color: #0D4E93 !important;
    display: block;
    float: right;
    height: 14px;
    margin-left: 5px;
    overflow: hidden;
    text-indent: 2000px;
    width: 14px;
    margin-top: 5px;
}


/* ---------- END HEADER ---------- */
	/* ---------- MAIN PAGE ---------- */
#main-page {
	color: #666666 !important;
    font-family: verdana,Arial,Helvetica,Sans-Serif !important;
    font-size: 14px !important;
    font-weight: bold !important;
    box-shadow: 6px 6px 6px 0 #0D4E93;
	clear: both;
	background-color:#FFFFFF;
	background-image: url('../img/lightblue-back.jpg');
    background-repeat: repeat-x;
    height: 800px; /*480px;*/
    padding-left: 20px;
}


.welcome {
	font-size: x-large;
	text-shadow: 2px 2px 2px #999999;
}


/* === third popup details === */
#details {
	color: #666666 !important;
    font-family: verdana,Arial,Helvetica,Sans-Serif !important;
    font-size: 12px !important;
    font-weight: bold !important;
	clear: both;
	background-color:#FFFFFF;
}

/* ===   Form Skin    === */
form.formulaire {
	margin: 5px;
}

fieldset {
	height: 550px;
	overflow-y: auto;
	border-radius:10px;
}

.ellipse01 {
	background-image: url('../img/ellipse/01.png');
	background-repeat: no-repeat;
	background-position: center;
}
.ellipse02 {
	background-image: url('../img/ellipse/02.png');
	background-repeat: no-repeat;
	background-position: center;
}
.ellipse03 {
	background-image: url('../img/ellipse/03.png');
	background-repeat: no-repeat;
	background-position: center;
}
.ellipse04 {
	background-image: url('../img/ellipse/04.png');
	background-repeat: no-repeat;
	background-position: center;
}

form.formulaire fieldset {
	border: 1px solid #A9A9A9;
	padding: 5px;
}

form.formulaire fieldset legend {
	padding: 0 5px;
	margin: 0 5px;
	color: #666666;
}

form.formulaire fieldset div {
	clear: left;
	min-height: 1.6em;
	height: auto;
	height: 1.6em;
	line-height: 1.4em;
	padding-top: 3px;
}

form.formulaire fieldset label {
	display: block;
	float: left;
	font-weight: bold;
	/*text-align: right;*/
	padding-right: 2px;
	width: 100px;
}

form.formulaire fieldset div span {
	display: block;
	float: left;
	/*width: 180px;*/
}

form.formulaire fieldset textarea {
	float: left;
	background-color: #EDECE9;
}

form.formulaire fieldset input {
	float: left;
	background-color: #EDECE9;
}

input {
	background-color: #EDECE9;
}

input.large {
	width: 180px !important; 
}

.large {
	width: 175px !important;
	display:inline-block; 
}

input.extralarge {
	width: 285px !important; 
}

.extralarge {
	width: 285px !important; 
}

form.formulaire fieldset select {
	float: left;
	width: 110px; /*75px;*/
	margin-right: 11px;
	/*height: 15px !important;*/
}

form.formulaire input[type=text]:focus,input[type=checkbox]:focus,input[type=radio]:focus,form.formulaire textarea:focus,form.formulaire select:focus
{
	background-color: #EBF2FA;
}

input[type=text]:focus,
input[type=checkbox]:focus,
input[type=radio]:focus,
textarea:focus,
select:focus
	{
	background-color: #EBF2FA;
}

* input.checkbox{
    vertical-align: middle;
    background-color: transparent ;
    border-width:0px;
    width: 13px;
    height: 13px;
}

form.formulaire fieldset ul.radios {
	list-style: none;
}

form.formulaire fieldset ul.radios .ligne li {
	display: inline;
	vertical-align: middle;
}

form.formulaire fieldset ul.radios .ligne li * {
	vertical-align: middle;
}

form.formulaire fieldset ul.radios input {
	border: none;
	float: none;
	display: inline;
	background-color: transparent;
}

form.formulaire fieldset ul.radios label {
	font-weight: normal;
	text-align: left;
	padding: 0 5px;
	display: inline;
	float: none;
	width: auto;
}

form.formulaire fieldset img {
	float: left;
}

form.formulaire div#button {
	float: right;
	text-align: right;
	clear: right;
	width:250px;
}

form.formulaire fieldset.technical label{
    width: 84px;    
}

form.formulaire fieldset.fonctional input{
    width: 75px;    
}


input[readonly=readonly] {
	font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
	color: black;
	font-weight: bold !important;
	background-color: transparent !important;
	border: none !important;
}

textarea[readonly=readonly] {
	font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
	background-color: transparent !important;
	border: none !important;
	color: #474747;
    font-style: italic;
}


.errorDiv {
	background-color: #FF6B6B;
}

.validDiv {
	background-color: #7EF87E;
}

.blockquote {
    background: url('../img/blockquote.png') no-repeat scroll 4px top;
    border: 1px dotted #DDDDDD;
    color: #474747;
    font-style: italic;
    margin: 1em 25% 1em 0;
    min-height: 40px;
    padding: 0.6em 1em 0.6em 2.4em;
}

.selectXl {
	width: 150px !important;
}

.selectXXl {
	width: 250px !important;
}

#footer {
	border: 1px solid GRAY;
	background-color: #8696C7;
	height: 30px;
	color: white;
    text-decoration: none;
    text-transform: none;
    font-size:8pt;
    font-family:verdana,arial,sans-serif; 
    font-weight:bold;
    text-shadow: 2px 2px 2px #000000;
}


form.formulaire fieldset div th span {
    display: block;
    float: left;
    width: auto;
}

.error {
	color: #a94442;
	background-color: #f2dede;
}

.deleteButton {
    background-color: transparent;
    background-image: url('../img/delete.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    border: none;
    color: transparent;
    cursor: pointer;
    padding: 0px;
    height: 16px !important;
    width: 16px !important;
}

.updateButton {
    background-color: transparent;
    background-image: url('../img/mytestrequest.gif');
    background-position: center bottom;
    background-repeat: no-repeat;
    border: none;
    color: transparent;
    cursor: pointer;
    padding: 0px;
    height: 23px !important;
}

.addButton {
    background-color: transparent;
    background-image: url('../img/newrequest.gif');
    background-position: center bottom;
    background-repeat: no-repeat;
    border: none;
    color: transparent;
    cursor: pointer;
    padding: 0px;
    height: 23px !important;
}

.submitButton {
    background-color: transparent;
    background-image: url('../img/upgradeVersion.gif');
    background-position: center bottom;
    background-repeat: no-repeat;
    border: none;
    color: transparent;
    cursor: pointer;
    padding: 0px;
    height: 23px !important;
}

.searchButton {
    background-color: transparent;
    background-image: url('../img/datatable-search.gif');
    background-position: center bottom;
    background-repeat: no-repeat;
    border: none;
    color: transparent;
    cursor: pointer;
    padding: 0px;
    height: 23px !important;
}

.excelButton {
    background-color: transparent;
    background-image: url('../img/exportExcel.gif');
    background-position: center bottom;
    background-repeat: no-repeat;
    border: none;
    color: transparent;
    cursor: pointer;
    padding: 0px;
    height: 23px !important;
}

.backButton {
    background-color: transparent;
    background-image: url('../img/planification-step-notActive_old.gif');
    background-position: center bottom;
    background-repeat: no-repeat;
    border: none;
    color: transparent;
    cursor: pointer;
    padding: 0px;
    height: 15px !important;
    width: 12px !important;
}

.addmodifButton {
    background-color: transparent;
    background-image: url('../img/add-modif.gif');
    background-position: center bottom;
    background-repeat: no-repeat;
    border: none;
    color: transparent;
    cursor: pointer;
    padding: 0px;
    height: 23px !important;
}




/********************************* LOGIN ZONE *****************************/
.login-zone {
	background-image: url('../img/foot-login.gif');
	background-position: left bottom;
	background-repeat: no-repeat;
	width: 383px;
	margin: 120px auto 0px;
	box-shadow: 6px 6px 6px 0 #0D4E93;
}

#header-login {
	width: 383px;
	height: 81px;
	background: transparent url('../img/loginSB.jpg')
}

.login-zone form {
	padding: 18px;
	background-color: #fff;
	margin: 0 !important;
}

#login-error {
	padding: 18px;
	color: red;
	background-color: white;
}

#foot-login {
	width: 383px;
	height: 9px;
	background-image: url('../img/foot-login.gif');
}

#form_login_label {
	position: relative;
	top: 42px;
	left: 175px;
	color: #fff;
	font-size: 2em;
}

.search {
	overflow-y: auto;
	height: 350px;
}

.search table {
	border-spacing: 0px;
/* 	padding-top: 160px; */
/* 	position: absolute; */
	margin-left: 50px;
}

.thead {
	position: absolute;
	margin-top: -20px;
}

.sortable {
	cursor: pointer;
}

.search th {
	background-color: #397398;
	color: #FFF;
	border-top: 1px solid #397398;
	font-size: 12px;
	padding: 2px;
	text-align: center;
}

.searchBu {
	width: 60px;
}

.searchPerson {
	width: 100px;
}

.searchItem {
	width: 100px;
}
.searchItemCode {
	width: 60px;
}
.searchLevel {
	width: 200px;
}

.searchActive td {
	background-color: #ddf4fc;
	border-top:1px solid #ddf4fc;
	border-left:1px solid #aaaaaa;
	font-size:11px;
	padding: 5px;
}
.searchInActive td {
	background-color: #ffffff;
	border-top:1px solid #ddf4fc;
	border-left:1px solid #aaaaaa;
	font-size:11px;
	padding: 5px;
}

.inactivePerson {
	font-style: italic;
	text-decoration: line-through;
}

.labelDisable {
	font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
	color: black;
	font-weight: bold !important;
	background-color: transparent !important;
	border: none !important;	
}

 .accordionItem {
 	display:inline-flex;
 }
 
 
.labelMsg {
	display: inline;	
}

















/* USER PROFILE PAGE */
 .card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 130px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}















@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
body { padding-top: 60px; }
.nav.nav-justified > li > a { position: relative; }
.nav.nav-justified > li > a:hover,
.nav.nav-justified > li > a:focus { background-color: transparent; }
.nav.nav-justified > li > a > .quote {
    position: absolute;
    left: 0px;
    top: 0;
    opacity: 0;
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: #13c0ba;
    border-radius: 15px;
    color: #fff;  
}
.nav.nav-justified > li.active > a > .quote { opacity: 1; }
.nav.nav-justified > li > a > img { box-shadow: 0 0 0 5px #13c0ba; }
.nav.nav-justified > li > a > img { 
    max-width: 100%; 
    opacity: .3; 
    -webkit-transform: scale(.8,.8);
            transform: scale(.8,.8);
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav.nav-justified > li.active > a > img,
.nav.nav-justified > li:hover > a > img,
.nav.nav-justified > li:focus > a > img { 
    opacity: 1; 
    -webkit-transform: none;
            transform: none;
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.tab-pane .tab-inner { padding: 30px 0 20px; }

@media (min-width: 768px) {
    .nav.nav-justified > li > a > .quote {
        left: auto;
        top: auto;
        right: 20px;
        bottom: 0px;
    }  
    .container {
    	width: 100% !important;
    }
	.col-md-offset-3 {
    	margin-left: 0% !important;
	}
	.col-md-6 {
	    width: 100% !important;
	}
	.col-md-4 {
   		width: 50% !important;
	}
}




.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}
.navbar {
   margin-bottom: 0px !important;
}







.form-control { margin-bottom: 10px; }


.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
/*     margin-top: 20px; */
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
.btn-block {
    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}
.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}
.btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


.panel-body .btn:not(.btn-block) { width:120px;margin-bottom:10px; }

.dp
   {
       border:10px solid #eee;
       transition: all 0.2s ease-in-out;
   }
   .dp:hover
   {
       border:2px solid #eee;
       transform:rotate(360deg);
       -ms-transform:rotate(360deg);  
       -webkit-transform:rotate(360deg);  
       /*-webkit-font-smoothing:antialiased;*/
   }
   
   .img-circle {
   	border-radius: 50%;
}
	
	
	
.clickable{
    cursor: pointer;   
}

.panel-heading div {
	margin-top: -18px;
	font-size: 15px;
}
.panel-heading div span{
	margin-left:5px;
}
